
body {
    font-family: 'Source Serif 4', serif;
    margin: 0;
    padding: 0;
    background-color: #f5f0f9;
    color: #333;
}
p {
    margin: 0px 50px 75px 0px;
    
  }
h1, h2 {
    font-family: 'Source Serif 4', serif;
    color: white;
    
}

.column {
    float: left;
    width: 50%;
    
    
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

header {
    background-image: url('assets/galakxy.avif');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    color: white;
}

.header-content h1 {
    font-size: 4em;
    margin: 0;
}

.header-content p {
    color: yellow;
    font-size: 1.5em;
    margin-top: 10px;
    background-color: #4b2b72;
}

.bio {
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color: #c207459e;
}

.bio-content {
    display: flex;
    max-width: 1000px;
    align-items: center;
}

.bio-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 30px;
    object-fit: cover;
}

.bio-text {
    max-width: 600px;
}

.bio-text h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.bio-text p {
    line-height: 1.6;
    font-size: 1.2em;
}


.gallery {
    background-color: #c207459e;
    padding: 50px;
    text-align: center;
}

.gallery-content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gallery-content img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border: 3px solid #d6b3f2;
    border-radius: 10px;
}


footer {
    background-color: #4b2b72;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1em;
}

footer p {
    margin: 0;
}

.social-media {
    margin-top: 10px;
}

.social-link {
    margin: 0 10px;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

.social-link:hover {
    color: #d6b3f2;
}

.gallery h2 {
    color: #333;
}